DB_SERVER=localhost
DB_NAME=CafeSalesAnalytics
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUST_CERTIFICATE=yes
DB_TRUSTED_CONNECTION=yes

# Use these only if DB_TRUSTED_CONNECTION=no
# DB_USER=sa
# DB_PASSWORD=your_password
